/* Space out content a bit */
body {

    background-image: linear-gradient(to right, rgb(20, 220, 160), rgb(17, 71, 57));
    position:50%;
  }
  
  .container{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(90, 109, 98);
    border-radius: 1em;
  }  

  .container{

  color: rgb(19, 17, 17);
  text-align: center;
  
  }

  .jumbotron{

    justify-content: center;
  }
  #modeloVeiculo{
   
    width: 50%;
  }
  #placaVeiculo{
    width: 50%;

  }

  #btn-primary{


  }

  .tag{
   
     font-size: 100%;
     margin-top: 60%;
     margin-left: 10%;
    

  }